{erl_opts, [debug_info, warnings_as_errors, warn_untyped_record]}.
{deps, []}.

{plugins, [pc]}.

{artifacts, ["priv/erlper_drv.so"]}.

{provider_hooks, [
  {post,
     [
       {compile, {pc, compile}},
       {clean, {pc, clean}}
     ]
}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlper]}
]}.
